# Ignore everything at root level
/*

# But allow root-level files
!/.gitignore
!/README.md
!/index.html

# Allow the specific folders and their contents
!/SDS-Vault/
!/SDS-Vault/**
!/9-resources/
!/9-resources/**
!/8-clippings/
!/8-clippings/**
!/2-fleeting notes/
!/2-fleeting notes/**
!/2-atomic notes/**
!/2-atomic notes/
!/2-literature notes/**

# Ignore Extra Knowledge inside SDS Vault
/SDS-Vault/Extra Knowledge/
/SDS-Vault/Extra Knowledge/**

# Ignore large PDF files
*.pdf

# Except inside SDS-Vault
!SDS-Vault/**/*.pdf


